In [1]:
import numpy as np
import pandas as pd
import sys
import re

In [2]:
das_df = pd.read_csv('das.csv')

Setting up dataframe exactly like data_cleaning

In [3]:
das_df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Analyst,$41K-$78K\n(Glassdoor est.),"Sony Electronics, Inc. look for the risk-taker...",4.1,Sony Electronics\n4.1,"Paramus, NJ",10000+ Employees,1946.0,Subsidiary or Business Segment,Consumer Products Manufacturing,Manufacturing,$2 to $5 billion (USD)
1,Data Analyst,$35K-$70K\n(Glassdoor est.),Data Specialist\n\nJob Summary\n\nWe are on th...,4.9,Marxent\n4.9,"Miamisburg, OH",51 to 200 Employees,2011.0,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable
2,Finance Data Analytics Analyst,$37K-$67K\n(Glassdoor est.),Your Opportunity:\n\nSmithfield Foods is a $15...,3.2,Smithfield Foods\n3.2,"Smithfield, VA",10000+ Employees,1936.0,Subsidiary or Business Segment,Food & Beverage Manufacturing,Manufacturing,$10+ billion (USD)
3,Data Systems Analyst,$34K-$60K\n(Glassdoor est.),"Ready to make an impact? If so, read on!\n\nWo...",3.4,GEICO\n3.4,"Indianapolis, IN",10000+ Employees,1936.0,Subsidiary or Business Segment,Insurance Carriers,Insurance,$10+ billion (USD)
4,Data Analyst,$36K-$66K\n(Glassdoor est.),WHAT YOU WILL DO IN THIS POSITION:\n\n·Perform...,4.4,NCCI Holdings\n4.4,"Boca Raton, FL",501 to 1000 Employees,1923.0,Company - Private,Insurance Carriers,Insurance,$50 to $100 million (USD)

In [4]:
das_df.columns = das_df.columns.str.replace(' ', '_')
das_df.columns

Index(['Job_Title', 'Salary_Estimate', 'Job_Description', 'Rating',
       'Company_Name', 'Location', 'Size', 'Founded', 'Type_of_ownership',
       'Industry', 'Sector', 'Revenue'],
      dtype='object')

In [5]:
# Drop the rows that do not have salary estimate
das_df = das_df[das_df['Salary_Estimate'] != '-1']

In [6]:
#das_df.head()
das_df['Salary_Estimate'] = das_df['Salary_Estimate'].str.replace('Employer Provided Salary:\n', '')
das_df

,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Size,Founded,Type_of_ownership,Industry,Sector,Revenue
0,Data Analyst,$41K-$78K\n(Glassdoor est.),"Sony Electronics, Inc. look for the risk-taker...",4.1,Sony Electronics\n4.1,"Paramus, NJ",10000+ Employees,1946.0,Subsidiary or Business Segment,Consumer Products Manufacturing,Manufacturing,$2 to $5 billion (USD)
1,Data Analyst,$35K-$70K\n(Glassdoor est.),Data Specialist\n\nJob Summary\n\nWe are on th...,4.9,Marxent\n4.9,"Miamisburg, OH",51 to 200 Employees,2011.0,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable
2,Finance Data Analytics Analyst,$37K-$67K\n(Glassdoor est.),Your Opportunity:\n\nSmithfield Foods is a $15...,3.2,Smithfield Foods\n3.2,"Smithfield, VA",10000+ Employees,1936.0,Subsidiary or Business Segment,Food & Beverage Manufacturing,Manufacturing,$10+ billion (USD)
3,Data Systems Analyst,$34K-$60K\n(Glassdoor est.),"Ready to make an impact? If so, read on!\n\nWo...",3.4,GEICO\n3.4,"Indianapolis, IN",10000+ Employees,1936.0,Subsidiary or Business Segment,Insurance Carriers,Insurance,$10+ billion (USD)
4,Data Analyst,$36K-$66K\n(Glassdoor est.),WHAT YOU WILL DO IN THIS POSITION:\n\n·Perform...,4.4,NCCI Holdings\n4.4,"Boca Raton, FL",501 to 1000 Employees,1923.0,Company - Private,Insurance Carriers,Insurance,$50 to $100 million (USD)
...,...,...,...,...,...,...,...,...,...,...,...,...
788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
das_df = das_df.dropna(how = 'all')
#das_df

In [8]:
das_df

,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Size,Founded,Type_of_ownership,Industry,Sector,Revenue
0,Data Analyst,$41K-$78K\n(Glassdoor est.),"Sony Electronics, Inc. look for the risk-taker...",4.1,Sony Electronics\n4.1,"Paramus, NJ",10000+ Employees,1946.0,Subsidiary or Business Segment,Consumer Products Manufacturing,Manufacturing,$2 to $5 billion (USD)
1,Data Analyst,$35K-$70K\n(Glassdoor est.),Data Specialist\n\nJob Summary\n\nWe are on th...,4.9,Marxent\n4.9,"Miamisburg, OH",51 to 200 Employees,2011.0,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable
2,Finance Data Analytics Analyst,$37K-$67K\n(Glassdoor est.),Your Opportunity:\n\nSmithfield Foods is a $15...,3.2,Smithfield Foods\n3.2,"Smithfield, VA",10000+ Employees,1936.0,Subsidiary or Business Segment,Food & Beverage Manufacturing,Manufacturing,$10+ billion (USD)
3,Data Systems Analyst,$34K-$60K\n(Glassdoor est.),"Ready to make an impact? If so, read on!\n\nWo...",3.4,GEICO\n3.4,"Indianapolis, IN",10000+ Employees,1936.0,Subsidiary or Business Segment,Insurance Carriers,Insurance,$10+ billion (USD)
4,Data Analyst,$36K-$66K\n(Glassdoor est.),WHAT YOU WILL DO IN THIS POSITION:\n\n·Perform...,4.4,NCCI Holdings\n4.4,"Boca Raton, FL",501 to 1000 Employees,1923.0,Company - Private,Insurance Carriers,Insurance,$50 to $100 million (USD)
...,...,...,...,...,...,...,...,...,...,...,...,...
773,JPSC-8710 - Oracle Data Analysts,$43K-$80K\n(Glassdoor est.),Overview\n\nMust have Healthcare experience\n\...,4.5,Avani Technology Solutions\n4.5,"New York, NY",501 to 1000 Employees,2008.0,Company - Private,IT Services,Information Technology,$50 to $100 million (USD)
775,Data Analyst,$53K-$96K\n(Glassdoor est.),The Senior Data Analyst in the CACI Data Analy...,3.2,Praescient Analytics\n3.2,"Washington, DC",51 to 200 Employees,2011.0,Company - Private,Consulting,Business Services,$10 to $25 million (USD)
776,Data Analyst,$36K-$64K\n(Glassdoor est.),SCOPE OF POSITION\nWe are looking for a versat...,3.3,SP\n3.3,"Nashville, TN",10000+ Employees,1929.0,Company - Public,Parking Lots & Garages,Transportation & Logistics,Unknown / Non-Applicable
783,Data Analyst Supporting the US Attorney's Offi...,$43K-$78K\n(Glassdoor est.),Salary:\nPublished Job Title:\nData Analyst Su...,2.9,Forfeiture Support Associates\n2.9,"Baltimore, MD",1001 to 5000 Employees,2004.0,Company - Private,Staffing & Outsourcing,Business Services,$50 to $100 million (USD)
785,Data Analyst Supporting the US Attorney's Offi...,$43K-$78K\n(Glassdoor est.),Salary:\nPublished Job Title:\nData Analyst Su...,2.9,Forfeiture Support Associates\n2.9,"Baltimore, MD",1001 to 5000 Employees,2004.0,Company - Private,Staffing & Outsourcing,Business Services,$50 to $100 million (USD)

In [9]:
# remove additional text
#das_df['Salary_Estimate'] = das_df['Salary_Estimate'].apply(lambda x: x.split('\n')[0])

In [10]:
#das_df[das_df['Salary_Estimate'].str.contains("Per Hour")]

In [11]:
#das_df['hourly'] = das_df['Salary_Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)